<h1>Les Bénévoles SolSid</h1>
<filter></filter>
<ul class="volunteers">
    <li *ngFor="let volunteer of volunteers">
        <div class="checkbox">
            <input type="checkbox" name="volunteer">
        </div>
        <div class="photoWrapper">
            <img class="photo" src="http://images.clipartpanda.com/college-student-silhouette-silhouette.gif"/>
        </div>
        <div class="profileText">
            <div class="row"><div class="label">Nom:</div><div class="value">{{volunteer.name}}</div></div>
            <div class="row"><div class="label">Equipe:</div><div class="value">{{volunteer.team}}</div></div>
            <div class="row"><div class="label">Autorisations:</div><div class="value">{{volunteer.rights}}</div></div>
        </div>
    </li>
</ul>